body {
    background-color: rgb(235, 235, 235);
}

.header-container {
    background-color: rgb(101, 125, 195);
    width: 99%;
    margin: auto;
    height: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: 0.1cm;
    border: black solid 2px;
    border-radius: 10px;
    text-decoration: underline;
}

form {
    background-color: lightsteelblue;
    width: 50%;
    margin: auto;
    border: black solid 2px;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
}

input {
    margin-top: 20px;
}